checkpoint/CLASSIFIER/**
checkpoint/RSMAE/**
checkpoint/SPECMAE/**
temps/**
H5/**
flagged/**
outputs/**
*.wav
*.hdf5
*.pyc
*.sav
*.pkl
*.flv
*.xml
*.mp4
*.png
vqmae/vqmae/gradio/**
vqmae/vqmae/plots/**
vqmae/vqmae/data/finetuning/**
test_gradio.py
pretrain_classifier.py
site_qualitative.py
site_qualitative - Spec-MAE.py
pretrain_SpecMAE.py


